<script>
    $(document).ready(function () {
        $.getJSON("{{ '/assets/data/gs_data.json' | relative_url }}", function (data) {
            var totalCitation = data['citedby'];
            var totalCitationEle = document.getElementById('total_cit');
            if (totalCitationEle && totalCitation !== undefined && totalCitation !== null) {
                totalCitationEle.innerHTML = totalCitation;
            }

            var publications = data['publications'] || {};
            var citationEles = document.getElementsByClassName('show_paper_citations')
            Array.prototype.forEach.call(citationEles, element => {
                var paperId = element.getAttribute('data')
                var paper = publications[paperId]
                if (paper && paper['num_citations'] !== undefined && paper['num_citations'] !== null) {
                    element.innerHTML = '| Citations: ' + paper['num_citations'];
                }
            });
        });
    })
</script>
